useDynLib(smog)
importFrom(Rcpp, evalCpp)
importFrom(foreach,foreach,"%do%","%dopar%")
importFrom(parallel,makeCluster,stopCluster)
importFrom(doParallel,registerDoParallel)
importFrom(stats, coef, fitted, model.frame, model.matrix, model.response, rnorm)
importFrom(graphics,par,plot)
importFrom(tidyr,spread)
importFrom(Rdpack,reprompt)
S3method(print,smog)
S3method(predict,smog)
S3method(plot,smog)
S3method(smog,default)
S3method(smog,formula)
exportPattern("^[[:alpha:]]+")
